// ====================== COLORS ========================
$primary-color: #785BD1;
$bg-color-primary: linear-gradient(89.82deg, #785BD1 0.16%, #8F70EF 94.34%);
$bg-color-primary-hover: linear-gradient(89.09deg, #785BD1 0.78%, #5D43AB 100%);
$title-color: (89.82deg, #785BD1 0.16%, #8F70EF 94.34%);
$secondy-color: #0CE0BB;
$secondy-color-hover: #00D0AB;
$danger-color: #D90000;
$text-color: #20163F;
$bg-color-body: #F6F6F8;
$inputs-color: #FBFBFB;
$border-color: #E6E6F0;
$white-color: #ffffff;

// ====================== FONT SIZES ========================
$f1: 14px;
$f2: 18px;
$f3: 24px;
$f4: 36px;

// ====================== BREAKPOINTS RESPONSIVE ========================
$smarth-mobile: 768px;
$tablets: 992px;
$desktop: 1200px;
$desktop-large: 1400px;